<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yms.note.mapper.NoteIndexMapper">
  <resultMap id="BaseResultMap" type="top.yms.note.entity.NoteIndex">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="f_user_id" jdbcType="BIGINT" property="userId" />
    <result column="f_name" jdbcType="VARCHAR" property="name" />
    <result column="f_isfile" jdbcType="CHAR" property="isFile" />
    <result column="f_type" jdbcType="VARCHAR" property="type" />
    <result column="f_del" jdbcType="CHAR" property="del" />
    <result column="f_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="f_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="f_store_site" jdbcType="VARCHAR" property="storeSite" />
    <result column="f_site_id" jdbcType="VARCHAR" property="siteId" />
    <result column="f_size" jdbcType="BIGINT" property="size" />
    <result column="f_encrypted" jdbcType="VARCHAR" property="encrypted" />
    <result column="f_view_time" jdbcType="TIMESTAMP" property="viewTime" />
  </resultMap>
  <sql id="commonWhereClause" >
    <where>
      <if test="id != null and id != ''" >
        and f_id = #{ id , jdbcType=BIGINT}
      </if>
      <if test="userId != null and userId != ''" >
        and f_user_id = #{ userId , jdbcType=BIGINT}
      </if>
      <if test="encrypted != null and encrypted != ''" >
        and f_encrypted = #{ encrypted , jdbcType=VARCHAR}
      </if>
    </where>
  </sql>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    f_id, f_parent_id, f_user_id, f_name, f_isfile, f_type, f_del, f_create_time, f_update_time,
        f_store_site, f_site_id, f_size, f_encrypted,f_view_time
  </sql>
  <select id="selectByCondition" parameterType="top.yms.note.entity.NoteIndex" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_note_index
    <include refid="commonWhereClause" />
    order by f_create_time desc
  </select>
  <select id="selectByExample" parameterType="top.yms.note.entity.NoteIndexExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_note_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_note_index
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_note_index
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="top.yms.note.entity.NoteIndexExample">
    delete from t_note_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.yms.note.entity.NoteIndex">
    insert into t_note_index (f_id, f_parent_id, f_user_id, 
      f_name, f_isfile, f_type, f_del, 
      f_create_time, f_update_time, f_store_site, f_site_id,
                              f_encrypted, f_view_time)
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{isFile,jdbcType=CHAR}, #{type,jdbcType=VARCHAR}, #{del,jdbcType=CHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{storeSite,jdbcType=VARCHAR},
            #{siteId,jdbcType=VARCHAR}, #{encrypted,jdbcType=VARCHAR}, #{viewTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="top.yms.note.entity.NoteIndex">
    insert into t_note_index
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="parentId != null">
        f_parent_id,
      </if>
      <if test="userId != null">
        f_user_id,
      </if>
      <if test="name != null">
        f_name,
      </if>
      <if test="isFile != null">
        f_isfile,
      </if>
      <if test="type != null">
        f_type,
      </if>
      <if test="del != null">
        f_del,
      </if>
      <if test="createTime != null">
        f_create_time,
      </if>
      <if test="updateTime != null">
        f_update_time,
      </if>
      <if test="storeSite != null">
        f_store_site,
      </if>
      <if test="siteId != null">
        f_site_id,
      </if>
      <if test="size != null">
        f_size,
      </if>
      <if test="encrypted != null">
        f_encrypted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="isFile != null">
        #{isFile,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeSite != null">
        #{storeSite,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        #{siteId,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="encrypted != null">
        #{encrypted,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.yms.note.entity.NoteIndexExample" resultType="java.lang.Long">
    select count(*) from t_note_index
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_note_index
    <set>
      <if test="record.id != null">
        f_id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.parentId != null">
        f_parent_id = #{record.parentId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        f_user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        f_name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.isFile != null">
        f_isfile = #{record.isFile,jdbcType=CHAR},
      </if>
      <if test="record.type != null">
        f_type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.del != null">
        f_del = #{record.del,jdbcType=CHAR},
      </if>
      <if test="record.createTime != null">
        f_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        f_update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.storeSite != null">
        f_store_site = #{record.storeSite,jdbcType=VARCHAR},
      </if>
      <if test="record.siteId != null">
        f_site_id = #{record.siteId,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        f_size = #{record.size,jdbcType=BIGINT},
      </if>
      <if test="record.encrypted != null">
        f_encrypted = #{record.encrypted,jdbcType=VARCHAR},
      </if>
      <if test="record.viewTime != null">
        f_view_time = #{record.viewTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_note_index
    set f_id = #{record.id,jdbcType=BIGINT},
      f_parent_id = #{record.parentId,jdbcType=BIGINT},
      f_user_id = #{record.userId,jdbcType=BIGINT},
      f_name = #{record.name,jdbcType=VARCHAR},
      f_isfile = #{record.isFile,jdbcType=CHAR},
      f_type = #{record.type,jdbcType=VARCHAR},
      f_del = #{record.del,jdbcType=CHAR},
      f_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      f_update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      f_store_site = #{record.storeSite,jdbcType=VARCHAR},
     f_site_id = #{record.siteId,jdbcType=VARCHAR},
    f_encrypted = #{record.encrypted,jdbcType=VARCHAR},
    f_view_time = #{record.viewTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.yms.note.entity.NoteIndex">
    update t_note_index
    <set>
      <if test="parentId != null">
        f_parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        f_user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        f_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="isFile != null">
        f_isfile = #{isFile,jdbcType=CHAR},
      </if>
      <if test="type != null">
        f_type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        f_del = #{del,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        f_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        f_update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeSite != null">
        f_store_site = #{storeSite,jdbcType=VARCHAR},
      </if>
      <if test="siteId != null">
        f_site_id = #{siteId,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        f_size = #{size,jdbcType=BIGINT},
      </if>
      <if test="encrypted != null">
        f_encrypted = #{encrypted,jdbcType=VARCHAR},
      </if>
      <if test="viewTime != null">
        f_view_time = #{viewTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.yms.note.entity.NoteIndex">
    update t_note_index
    set f_parent_id = #{parentId,jdbcType=BIGINT},
      f_user_id = #{userId,jdbcType=BIGINT},
      f_name = #{name,jdbcType=VARCHAR},
      f_isfile = #{isFile,jdbcType=CHAR},
      f_type = #{type,jdbcType=VARCHAR},
      f_del = #{del,jdbcType=CHAR},
      f_create_time = #{createTime,jdbcType=TIMESTAMP},
      f_update_time = #{updateTime,jdbcType=TIMESTAMP},
        f_view_time = #{viewTime,jdbcType=TIMESTAMP},
        f_store_site = #{storeSite,jdbcType=VARCHAR},
        f_site_id = #{siteId,jdbcType=VARCHAR}
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="delByIds" >
    update t_note_index set f_del=1 where f_id in
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>
  <update id="delByListIds" parameterType="java.util.List">
    update t_note_index set f_del=1 where f_id in
    <foreach collection="ids" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>
  <select id="selectRecentUpdate" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_note_index
    WHERE
        (CASE
            WHEN f_update_time IS NOT NULL THEN f_update_time
            ELSE f_create_time
        END) >= NOW() - INTERVAL 3 DAY  and f_isfile='1' and f_del='0' and f_user_id=#{userId,jdbcType=BIGINT}
    ORDER BY
        (CASE
            WHEN f_update_time IS NOT NULL THEN f_update_time
            ELSE f_create_time
        END) DESC
    LIMIT 30
  </select>

</mapper>