<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.yms.note.mapper.NoteFileMapper">
  <resultMap id="BaseResultMap" type="top.yms.note.entity.NoteFile">
    <id column="f_id" jdbcType="BIGINT" property="id" />
    <result column="f_file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="f_name" jdbcType="VARCHAR" property="name" />
    <result column="f_type" jdbcType="VARCHAR" property="type" />
    <result column="f_size" jdbcType="BIGINT" property="size" />
    <result column="f_user_id" jdbcType="BIGINT" property="userId" />
    <result column="f_url" jdbcType="VARCHAR" property="url" />
    <result column="f_view_count" jdbcType="BIGINT" property="viewCount" />
    <result column="f_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="f_update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="f_download_count" jdbcType="BIGINT" property="downloadCount" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    f_id, f_file_id, f_name, f_type, f_size, f_user_id, f_url, f_view_count, f_create_time,
    f_update_time,f_download_count
  </sql>
  <select id="selectByExample" parameterType="top.yms.note.entity.NoteFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_note_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_note_file
    where f_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_note_file
    where f_id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="top.yms.note.entity.NoteFileExample">
    delete from t_note_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.yms.note.entity.NoteFile">
    insert into t_note_file (f_id, f_file_id, f_name,
                             f_type, f_size, f_user_id, f_url,
                             f_view_count, f_create_time, f_update_time,f_download_count
    )
    values (#{id,jdbcType=BIGINT}, #{fileId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
            #{type,jdbcType=VARCHAR}, #{size,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR},
            #{viewCount,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
            #{downloadCount,jdbcType=BIGINT }
           )
  </insert>
  <insert id="insertSelective" parameterType="top.yms.note.entity.NoteFile">
    insert into t_note_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        f_id,
      </if>
      <if test="fileId != null">
        f_file_id,
      </if>
      <if test="name != null">
        f_name,
      </if>
      <if test="type != null">
        f_type,
      </if>
      <if test="size != null">
        f_size,
      </if>
      <if test="userId != null">
        f_user_id,
      </if>
      <if test="url != null">
        f_url,
      </if>
      <if test="viewCount != null">
        f_view_count,
      </if>
      <if test="createTime != null">
        f_create_time,
      </if>
      <if test="updateTime != null">
        f_update_time,
      </if>
      <if test="downloadCount != null">
        f_download_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null">
        #{viewCount,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="downloadCount != null">
        #{downloadCount,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.yms.note.entity.NoteFileExample" resultType="java.lang.Long">
    select count(*) from t_note_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_note_file
    <set>
      <if test="record.id != null">
        f_id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.fileId != null">
        f_file_id = #{record.fileId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        f_name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        f_type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null">
        f_size = #{record.size,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        f_user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.url != null">
        f_url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.viewCount != null">
        f_view_count = #{record.viewCount,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        f_create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        f_update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.downloadCount != null">
        f_download_count = #{record.downloadCount,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_note_file
    set f_id = #{record.id,jdbcType=BIGINT},
    f_file_id = #{record.fileId,jdbcType=VARCHAR},
    f_name = #{record.name,jdbcType=VARCHAR},
    f_type = #{record.type,jdbcType=VARCHAR},
    f_size = #{record.size,jdbcType=BIGINT},
    f_user_id = #{record.userId,jdbcType=BIGINT},
    f_url = #{record.url,jdbcType=VARCHAR},
    f_view_count = #{record.viewCount,jdbcType=BIGINT},
    f_create_time = #{record.createTime,jdbcType=TIMESTAMP},
    f_update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    f_download_count = #{record.downloadCount,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.yms.note.entity.NoteFile">
    update t_note_file
    <set>
      <if test="fileId != null">
        f_file_id = #{fileId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        f_name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        f_type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        f_size = #{size,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        f_user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        f_url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="viewCount != null">
        f_view_count = #{viewCount,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        f_create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        f_update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="downloadCount != null">
        f_download_count = #{downloadCount,jdbcType=BIGINT},
      </if>
    </set>
    where f_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.yms.note.entity.NoteFile">
    update t_note_file
    set f_file_id = #{fileId,jdbcType=VARCHAR},
        f_name = #{name,jdbcType=VARCHAR},
        f_type = #{type,jdbcType=VARCHAR},
        f_size = #{size,jdbcType=BIGINT},
        f_user_id = #{userId,jdbcType=BIGINT},
        f_url = #{url,jdbcType=VARCHAR},
        f_view_count = #{viewCount,jdbcType=BIGINT},
        f_create_time = #{createTime,jdbcType=TIMESTAMP},
        f_update_time = #{updateTime,jdbcType=TIMESTAMP},
        f_download_count = #{downloadCount,jdbcType=BIGINT}
    where f_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>